*
!.gitignore

!_classic_
_classic_/*
!_classic_/Interface
!_classic_/Interface/**
!_classic_/WTF
!_classic_/WTF/**
!_classic_/fonts
!_classic_/fonts/**

!_retail_
_retail_/*
!_retail_/Interface
!_retail_/Interface/**
!_retail_/WTF
!_retail_/WTF/**
!_retail_/fonts
!_retail_/fonts/**
